<div class="main">
	<a href="#" class="cta">learn more now <i class='ion-chevron-right'></i> </a>

	<h1><span>Good at</span><br><span>business?</span></h1>
</div>
<div class="overlay">
	<div class="model">
		<div class="close-btn"><i class="ion-close"></i></div>
		<div class="textbox">
			<p class="lead">Business stuff in your inbox all the time</p>
			<p>Sign up for our newsletter to download this 200+ page secret of business PDF!</p>

		</div>
		<div class="graphic">
		


		</div>


		<form>
			<input  type="email" placeholder="Emailaddress">
			<input type="submit">

		</form>


	</div>
	
</div>
	

